/* custom-mermaid.css */
body {
    font-family: Arial, sans-serif;
  }

.file > rect {
    fill: #8b0000 !important; /* Lighter Mustard Yellow */
    stroke: #8b0000 !important; /* Darker Green */
    color: #ffffff !important; /* Black */
}
.process > rect {
    fill: #aaec96 !important; /* Medium Aquamarine */
    stroke: #478b45 !important; /* Darker Aquamarine */
    color: #ffffff !important; /* Black */
}

.rectangle {
    display: inline-block;
    height: 10px;
    width: 20px;
    background-color: #e0ec98  !important;
    vertical-align: left;
  }